<p>edit-employee works!</p>

<div>
    <h1>Update Employee</h1>
</div>
<form>
    <div>
        <label for="Employee_Name">
            Employee Name
        </label>
        &nbsp;&nbsp;
        <input id="Employee_Name" type="text"/>
    </div>
    <br />
    <div>
        <label for="Employee_Gender">
            Employee Gender
        </label>
        &nbsp;&nbsp;
        <input id="Employee_Gender" type="text" />
    </div>
    <br />
    <div>
        <label for="Employee_Phone">
            Employee Phone
        </label>
        &nbsp;&nbsp;
        <input id="Employee_Phone" type="text" />
    </div>
    <br />
    <div>
        <label for="Employee_Salary">
            Employee Salary
        </label>
        &nbsp;&nbsp;
        <input id="Employee_Salary" type="text" />
    </div>
    <br />
    <div>
        <label for="Employee_Salary">
            Employee Salary
        </label>
        &nbsp;&nbsp;
        <input id="Employee_Salary" type="text" />
    </div>
</form>
    <!--<a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>-->

    <!--<form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="Employee_Name">Employee Name</label>
            <input formControlName="Employee_Name"
                   id="Employee_Name"
                   type="text"
                   [(ngModel)]="employee.Emp_Name"
                   class="form-control">-->
            <!--<div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
            <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>
        </div>-->
        <!--</div>

        <div class="form-group">
            <label for="Employee_Gender">Employee Gender</label>
            <input formControlName="Employee_Gender"
                   id="Employee_Gender"
                   type="text"
                   [(ngModel)]="employee.Emp_Gender"
                   class="form-control">-->
            <!--<div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
            <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>
        </div>-->
        <!--</div>
        <div class="form-group">
            <label for="Employee_Phone">Employee Phone</label>
            <input formControlName="Employee_Phone"
                   id="Employee_Phone"
                   type="text"
                   [(ngModel)]="employee.Emp_Phone"
                   class="form-control">-->
            <!--<div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
            <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>
        </div>-->
        <!--</div>-->
        <!--<div class="form-group">
            <label for="Employee_ID">Employee ID</label>
            <input formControlName="Employee_ID"
                   id="Employee_ID"
                   type="text"
                   [(ngModel)]="employee.Emp_ID"
                   class="form-control">-->
            <!--<div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
            <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>
        </div>-->
        <!--</div>
        <div class="form-group">
            <label for="Employee_ID">Employee ID</label>
            <input formControlName="Employee_ID"
                   id="Employee_ID"
                   type="text"
                   [(ngModel)]="employee.Emp_ID"
                   class="form-control">-->
            <!--<div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
            <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>
        </div>-->
        <!--</div>-->

        <!--<button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>-->
