<!--<div>
    <table>
        <thead>
            <tr>
                <th>
                    Employee Name
                </th>
                <th>
                    Employee Gender
                </th>
                <th>
                    Employee Phone
                </th>
            </tr>
        </thead>
        <tbody--> <!--*ngfor="let dataitem of EmployeeList"--><!-->-->
            <!--<tr>
                <td>{{}}</td>
                <td>{{Employee}}</td>
                <td>{{Employee}}</td>
            </tr>-->
        <!--</tbody>
    </table>
</div>-->